 :root {
    --backgr-color: #2E2F42;
}


body {
    background-color: #FFFFFF;
    color: #434455;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}
.logo, .logo-studio {color: #4D5AE5;
font-family: Raleway, sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase; 
text-decoration: none 
 }
 .logo-studio {
    color: var(--backgr-color);
 }

    

/* site nav */

.site-nav .link {
color: var(--backgr-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-decoration: none; 
 
}
.site-nav, .auth-nav, .feature-list, .list{
    list-style: none;
}

.site-nav .link:hover, 
.site-nav .link:focus
{
    color: #000; 
     
}
/* Auth nav */
.auth-nav .link {
text-decoration: none; 
   
}
.auth-nav {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}
/* Hero */
.hero{
background: var(--backgr-color);

}
.hero-title {
color: #FFFFFF;
font-weight: 700;
font-size: 56px;
line-height: 1.2;
text-align: center;
}
/* Section */
.section-title {
 color: var(--backgr-color);
 font-weight: 700;
 font-size: 36px;
 line-height: 1.2;

 text-align: center;
 
 text-transform: capitalize;
}
/* Feature-list */
.title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
/* Item */
.footer-item {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

/* our-team */
.our-team{
text-align: center;
list-style: none;
}
/* Button */
.button {
    color: #FFFFFF;
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
}

/* footer */

.footer-item {
color: #F4F4FD;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}
.footer {
    background: var(--backgr-color);
} 

